<div class="page-width">
  <div class="text-center dist_hea">
    <h2>Become an International Distributor</h2>
    <p>Fields marked with an asterisk are required.</p>
  </div> {% form 'contact', class: 'distributor-form', id: 'save-later-form' %} <div id="sf1" class="step-1 actives frm">
<!--     <div class="inline-bar">
      <h2>General Information</h2>
      <ul class="multi-step">
        <li class="active">1. General Information</li>
        <li>2. Analytics</li>
        <li>3. Experience</li>
      </ul>
    </div> -->
    <div class="full-width">
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="1. First Name *" name="contact[first-name]" id="ContactForm-first-name" required />
        <label class="field__label" for="ContactForm-first-name">1. First Name *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="2. Position In The Company *" name="contact[Position In The Company]" id="ContactForm-position-company" required />
        <label class="field__label" for="ContactForm-position-company">2. Position In The Company *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="3. Title *" name="contact[title]" id="ContactForm-title" required />
        <label class="field__label" for="ContactForm-title">3. Title *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="email" placeholder="4. Email Address *" name="contact[email]" id="email" required />
        <label class="field__label" for="email">4. Email *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="5. Company Name *" name="contact[Company Name]" id="ContactForm-Companyname" required />
        <label class="field__label" for="ContactForm-Companyname">5. Company Name *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="6. Requested Territory *" name="contact[Requested Territory]" id="ContactForm-Territory" required />
        <label class="field__label" for="ContactForm-Territory">6. Requested Territory *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="7. Company Website *" name="contact[Company Website]" id="ContactForm-company-website" required />
        <label class="field__label" for="ContactForm-company-website">7. Company Website *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="8. Do You Plan On Reselling On Amazon *" name="contact[Do You Plan On Reselling On Amazon]" id="ContactForm-reselling" required />
        <label class="field__label" for="ContactForm-reselling">8. Do You Plan On Reselling On Amazon? *</label>
      </div>
      <div class="d-half-width field">
        <textarea class="field__input" placeholder="21. Additional Comments" name="contact[Additional Comments]" id="ContactForm-Comments"></textarea>
        <label class="field__label" for="ContactForm-Comments">9. Additional Comments</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="Completed by: *" name="contact[Completed by]" id="Completed" required />
        <label class="field__label" for="Completed">Completed by: *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="Date *" name="contact[Date]" id="Date" required />
        <label class="field__label" for="Date">Date *</label>
      </div>
    </div>
<!--     <div class="step_2 button button--primary">Continue</div> -->
  </div>
<!--   <div id="sf2" class="step-2 frm"> -->
<!--     <div class="inline-bar">
      <h2>Analytics</h2>
      <ul class="multi-step">
        <li>1. General Information</li>
        <li class="active">2. Analytics</li>
        <li>3. Experience</li>
      </ul>
    </div> -->
<!--     <div class="full-width"> -->
      <!-- 	<div class="half-width"><label for="security">Security Question</label><select name="security" id="security" tabindex="0"><option value="">Select a question</option><option value="best-friend">What's your best friend's name?</option><option value="pet">What's the name of your first pet?</option><option value="spouse">Where did you meet your spouse?</option></select></div> -->
<!--       <div class="half-width field">
        <textarea class="field__input" name="contact[Specific products of interest and annual quantities of each]" id="Specific_products" placeholder="9. Specific products of interest and annual quantities of each *" required></textarea>
        <label class="field__label" for="Specific_products">9. Specific products of interest and annual quantities of each *</label>
      </div>
      <div class="half-width show-label">
        <label>10. Estimated annual purchase volume *</label>
        <div class="check-icon">
          <div>
            <input id="b1" type="radio" name="contact[Estimated annual purchase volume]" value="$50,000 - $100,000" required>
            <label for="b1">$50,000 - $100,000</label>
          </div>
          <div>
            <input id="b2" type="radio" name="contact[Estimated annual purchase volume]" value="$300,000 - $500,000" required>
            <label for="b2">$300,000 - $500,000</label>
          </div>
          <div>
            <input id="b3" type="radio" name="contact[Estimated annual purchase volume]" value="$500,000 - $1M USD" required>
            <label for="b3">$500,000 - $1M USD</label>
          </div>
          <div>
            <input id="b4" type="radio" name="contact[Estimated annual purchase volume]" value="$1M  - $2M USD" required>
            <label for="b4">$1M - $2M USD</label>
          </div>
          <div>
            <input id="b5" type="radio" name="contact[Estimated annual purchase volume]" value="$2M - $5M + USD" required>
            <label for="b5">$2M - $5M + USD</label>
          </div>
        </div>
      </div>
      <div class="half-width show-label">
        <label>11. Will you order standard US formulated and labeled product or do you require customized/localized product *</label>
        <div class="check-icon">
          <div>
            <input id="c1" type="radio" name="contact[Will you order standard US formulated and labeled product or do you require customized/localized product]" value="US Product" required>
            <label for="c1">US Product</label>
          </div>
          <div>
            <input id="c2" type="radio" name="contact[Will you order standard US formulated and labeled product or do you require customized/localized product]" value="Localized Product" required>
            <label for="c2">Localized Product</label>
          </div>
        </div>
      </div>
      <div class="half-width show-label">
        <label>12. Distribution Channels *</label>
        <div class="check-icon">
          <div>
            <input class="checkboxes" id="d1" type="checkbox" name="contact[Distribution Channels]" value="Distribute to other retailers" required>
            <label for="d1">Distribute to other retailers</label>
          </div>
          <div>
            <input class="checkboxes" id="d2" type="checkbox" name="contact[Distribution Channels]" value="Sell through own retail" required>
            <label for="d2">Sell through own retail</label>
          </div>
          <div>
            <input class="checkboxes" id="d3" type="checkbox" name="contact[Distribution Channels]" value="Ecommerce" required>
            <label for="d3">Ecommerce</label>
          </div>
        </div>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="13. Company’s annual sales volume (calculated in USD) for the last three years *" name="contact[Company’s annual sales volume (calculated in USD) for the last three years]" id="ContactForm-annual" required></textarea>
        <label class="field__label" for="ContactForm-annual">13. Company’s annual sales volume (calculated in USD) for the last three years *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="14. Company’s number of employees *" name="contact[Company’s number of employees]" id="ContactForm-employees" required></textarea>
        <label class="field__label" for="ContactForm-employees">14. Company’s number of employees *</label>
      </div>
    </div>
    <div class="step_3 button button--primary">Continue</div>
  </div>
  <div id="sf3" class="step-3 frm">
    <div class="inline-bar">
      <h2>Experience</h2>
      <ul class="multi-step">
        <li>1. General Information</li>
        <li>2. Analytics</li>
        <li class="active">3. Experience</li>
      </ul>
    </div>
    <div class="full-width">
      <div class="half-width field">
        <textarea class="field__input" placeholder="15. List any other brands or products your Company sells or represents *" name="contact[List any other brands or products your Company sells or represents]" id="ContactForm-list-brands" required></textarea>
        <label class="field__label" for="ContactForm-list-brands">15. List any other brands or products your Company sells or represents *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="16. What does your warehouse management look like? *" name="contact[What does your warehouse management look like]" id="ContactForm-warehouse" required></textarea>
        <label class="field__label" for="ContactForm-warehouse">16. What does your warehouse management look like? *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="17. What does your distribution structure and network look like? *" name="contact[What does your distribution structure and network look like]" id="ContactForm-network" required></textarea>
        <label class="field__label" for="ContactForm-network">17. What does your distribution structure and network look like? *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="18. What experience do you have with importing US goods including supplements and foods? *" name="contact[What experience do you have with importing US goods including supplements and foods]" id="ContactForm-importing" required></textarea>
        <label class="field__label" for="ContactForm-importing">18. What experience do you have with importing US goods including supplements and foods? *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="19. What experience do you have with the nature of the product (organic, etc...)? *" name="contact[What experience do you have with the nature of the product (organic, etc...)]" id="ContactForm-experience" required></textarea>
        <label class="field__label" for="ContactForm-experience">19. What experience do you have with the nature of the product (organic, etc...)? *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="20. How long have you been in business? *" name="contact[How long have you been in business]" id="ContactForm-business" required></textarea>
        <label class="field__label" for="ContactForm-business">20. How long have you been in business? *</label>
      </div>
      <div class="d-half-width field">
        <textarea class="field__input" placeholder="21. Additional Comments" name="contact[Additional Comments]" id="ContactForm-Comments"></textarea>
        <label class="field__label" for="ContactForm-Comments">21. Additional Comments</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="Completed by: *" name="contact[Completed by]" id="Completed" required />
        <label class="field__label" for="Completed">Completed by: *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="Date *" name="contact[Date]" id="Date" required />
        <label class="field__label" for="Date">Date *</label>
      </div>
  -->
      <div class="d-half-width field">
        <div class="last-step">
          <p>
            <b>Disclaimer:</b> Nature’s Craft reserves the right, in its sole discretion, to determine which customers or potential customers may purchase its products, and what selection or combination of products, if any, are available to each approved customer. Nature’s Craft also reserves the right, in its sole discretion, to sell to any party, to refuse to sell to any party, or to cease selling to any party.
          </p>
          <div>
            <input class="checkboxes" id="disclaimer" type="checkbox" name="contact[I certify that I have read and accept the above disclaimer and that the information provided in the sections above is complete and accurate]" value="I certify that I have read and accept the above disclaimer and that the information provided in the sections above is complete and accurate" required>
            <label for="disclaimer">I certify that I have read and accept the above disclaimer and that the information provided in the sections above is complete and accurate.</label>
          </div>
        </div>
      </div>
  <br>
      <div class="half-width">
        <button type="submit" id="clearButton" class="button button--primary"> Submit </button>
      </div>
   <!-- </div>
    
  </div> -->
  <button type="submit" id="save">SAVE</button> 
  {%- if form.errors -%} 
    <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
      {% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
    </small>
  {%- endif -%}
  {%- if form.posted_successfully? -%}
    <script type="text/javascript">
      window.onload = function() { //ensures the page is loaded before functions are executed.
        localStorage.clear()
        console.log("clear records");
      }
    </script>
    {% comment %}<h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>
      {% render 'icon-success' %}{{ 'newsletter.success' | t }}
    </h3> {% endcomment %}
    {% render 'thank-you-popup' %}
  {%- endif -%} 
{% endform %}
<div class="alert"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var v = $("#save-later-form").validate({
      rules: {
        fname: {
          required: true,
          minlength: 2,
          maxlength: 16
        },
        lname: {
          required: true,
          minlength: 2,
          email: true,
          maxlength: 100,
        },
        prnum: {
          required: true,
          minlength: 6,
          maxlength: 15,
        },
        age: {
          required: true,
          minlength: 6,
        }
      },
      errorElement: "span",
      errorClass: "help-inline",
    });
    $(".frm").hide("fast");
    $("#sf1").show("slow");
    $('.step_2').click(function() {
      if (v.form()) {
        $('html,body').animate({
          scrollTop: $("#save-later-form").offset().top
        }, 'slow');
        $(".frm").hide("fast");
        $("#sf2").show("slow");
      }
    });
    $('.step_3').click(function() {
      if (v.form()) {
        $('html,body').animate({
          scrollTop: $("#save-later-form").offset().top
        }, 'slow');
        $(".frm").hide("fast");
        $("#sf3").show("slow");
      }
    });
    // Binding back button on second step
    $("ul.multi-step > li:nth-child(2)").click(function() {
      if (v.form()) {
        $(".frm").hide("fast");
        $("#sf2").show("slow");
      }
    });
    $("ul.multi-step > li:nth-child(1)").click(function() {
      if (v.form()) {
        $(".frm").hide("fast");
        $("#sf1").show("slow");
      }
    });
    $("ul.multi-step > li:nth-child(3)").click(function() {
      if (v.form()) {
        $(".frm").hide("fast");
        $("#sf3").show("slow");
      }
    });
    $('div#sf3 input[type="text"], div#sf3 textarea').keyup(function() {
      if ($(this).val().length != 0) {
        if ($('.last-step input').is(":checked")) {
          $('#sf3 #clearButton').attr('disabled', false);
        } else {
          $('#sf3 #clearButton').attr('disabled', true);
        }
        //$('#sf3 #clearButton').attr('disabled', false);
      } else {
        $('#sf3 #clearButton').attr('disabled', true);
      }
    });
    $(".last-step input").click(function() {
      if ($(this).is(":checked")) {
        if ($('div#sf3 input[type="text"], div#sf3 textarea').val().length != 0) {
          $('#sf3 #clearButton').attr('disabled', false);
        } else {
          $('#sf3 #clearButton').attr('disabled', true);
        }
      } else {
        $('#sf3 #clearButton').attr('disabled', true);
      }
    });
    var checkboxes = $('.checkboxes');
    checkboxes.change(function() {
      if ($('.checkboxes:checked').length > 0) {
        checkboxes.removeAttr('required');
      } else {
        checkboxes.attr('required', 'required');
      }
    });
    $(".field__input").keyup(function() {
      var filter = $(this).val();
      $("button#save").trigger('click');
    });
  });
  const formId = "save-later-form"; // ID of the form
  const url = location.href; //  href for the page
  const formIdentifier = `${url} ${formId}`; // Identifier used to identify the form
  const saveButton = document.querySelector("#save"); // select save button
  const alertBox = document.querySelector(".alert"); // select alert display div
  let form = document.querySelector(`#${formId}`); // select form
  let formElements = form.elements; // get the elements in the form
  jQuery($ => {
    var arr = JSON.parse(localStorage.getItem('checked')) || [];
    arr.forEach(function(checked, i) {
      $('input[type="checkbox"], input[type="radio"]').eq(i).prop('checked', checked);
    });
    $('input[type="checkbox"], input[type="radio"]').click(() => {
      var arr = $('input[type="checkbox"], input[type="radio"]').map((i, el) => el.checked).get();
      localStorage.setItem("checked", JSON.stringify(arr));
    });
  });
  /**
   * This function gets the values in the form
   * and returns them as an object with the
   * [formIdentifier] as the object key
   * @returns {Object}
   */
  const getFormData = () => {
    let data = {
      [formIdentifier]: {}
    };
    for (const element of formElements) {
      if (element.type == 'radio' || element.type == 'checkbox') {} else if (element.name.length > 0) {
        data[formIdentifier][element.name] = element.value;
      }
    }
    return data;
  };
  saveButton.onclick = event => {
    event.preventDefault();
    data = getFormData();
    localStorage.setItem(formIdentifier, JSON.stringify(data[formIdentifier]));
    const message = "Form draft has been saved!";
    //displayAlert(message);
    console.log(data);
  };
  /**
   * This function displays a message
   * on the page for 1 second
   *
   * @param {String} message
   */
  const displayAlert = message => {
    alertBox.innerText = message;
    alertBox.style.display = "block";
    setTimeout(function() {
      alertBox.style.display = "none";
    }, 1000);
  };
  /**
   * This function populates the form
   * with data from localStorage
   *
   */
  const populateForm = () => {
    if (localStorage.key(formIdentifier)) {
      const savedData = JSON.parse(localStorage.getItem(formIdentifier)); // get and parse the saved data from localStorage
      for (const element of formElements) {
        if (element.type == 'radio' || element.type == 'checkbox') {
          setTimeout(function() {
            var checkboxes = $('.checkboxes');
            if ($('.checkboxes:checked').length > 0) {
              checkboxes.removeAttr('required');
            } else {
              checkboxes.attr('required', 'required');
            }
          }, 1000);
          if (savedData[element.name] == element.value) {
            console.log(savedData[element.name]);
          }
        } else if (element.name in savedData) {
          element.value = savedData[element.name];
        }
      }
      const message = "Form has been refilled with saved data!";
      //displayAlert(message);
    }
  };
  document.onload = populateForm(); // populate the form when the document is loaded
</script>
<style>
  /* form#save-later-form  > .step-2, 
form#save-later-form  > .step-3 {
    display: none;
} */
  .alert {
    width: 80vw;
    margin: 2rem auto;
    background-color: #d4edda;
    color: #155724;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    display: none;
  }

  .full-width {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .full-width>.half-width {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .full-width>.d-half-width {
    width: 100%;
    margin-bottom: 20px;
  }

  /*   .full-width>.half-width label,
  .full-width>.d-half-width label {
    display: none;
  } */
  .full-width>.half-width input[type="text"],
  .full-width>.half-width input[type="email"],
  .full-width>.half-width input[type="number"],
  .full-width>.half-width textarea,
  .full-width>.d-half-width textarea {
    background: #EDF6ED;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    font-family: "BWMODELICA BOLD";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 60px;
    letter-spacing: 0.25px;
    color: #000000;
    outline: none;
    color: #000;
    border: none;
    padding: 0 30px;
    box-shadow: none;
  }

  .half-width.show-label {
    background: #EDF6ED;
    border-radius: 10px;
    padding: 30px;
    position: relative;
  }

  .full-width>.half-width textarea,
  .full-width>.d-half-width textarea {
    height: 100%;
    line-height: normal;
    padding: 30px;
    width: 100% !important;
    min-height: 130px;
  }

  .full-width>.half-width input::placeholder,
  .full-width>.half-width textarea::placeholder,
  .full-width>.d-half-width textarea::placeholder {
    color: transparent;
    opacity: 0;
    line-height: normal;
  }

  .half-width.show-label>label {
    display: block;
    font-family: "BWMODELICA BOLD";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.25px;
    color: #000000;
  }

  .half-width.show-label .check-icon label {
    display: block;
    font-family: "BWMODELICA-MEDIUM";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.25px;
    color: #000000;
  }

  /*   form#save-later-form > div {
      animation: 2s ease 0s 1 normal forwards running fade-out;
      opacity: 0;
      height: 0;
      overflow: hidden;
      visibility: hidden;
  }
  form#save-later-form > div.actives {
    opacity: 1;
    height: auto;
    overflow: auto;
    visibility: visible;
   	animation: 3s ease 0s 1 normal forwards running fade-in;
  } */
  @keyframes fade-out {
    from {
      opacity: 100%;
    }

    to {
      opacity: 0%;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  .check-icon>div {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
  }

  .check-icon>div:last-child {
    margin-bottom: 0;
  }

  .check-icon {
    margin-top: 20px;
  }

  body .newsletter-form__message--success {
    position: static !important;
  }

  form#save-later-form {
    position: relative;
  }

  .full-width label.field__label {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 9px;
    font-family: "BWMODELICA BOLD";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
    text-transform: none;
    letter-spacing: 0.25px;
  }

  .text-center.dist_hea>p,
  .last-step p,
  .last-step label {
    margin-top: 0;
    font-family: "BWMODELICA-MEDIUM";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
    text-transform: none;
    letter-spacing: 0.25px;
  }

  .last-step p b {
    font-family: "BWMODELICA BOLD";
    font-style: normal;
    font-weight: normal;
  }

  .text-center.dist_hea>h2 {
    margin-bottom: 8px;
  }

  .inline-bar {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #000;
    margin-bottom: 4rem;
  }

  ul.multi-step {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  ul.multi-step>li {
    list-style: none;
    margin-left: 30px;
    padding-top: 9px;
    font-family: "BWMODELICA BOLD";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
    text-transform: none;
    letter-spacing: 0.25px;
    opacity: .4;
    cursor: pointer;
  }

  ul.multi-step>li.active {
    opacity: 1;
    border-bottom: 3px solid #4CAF50;
    padding-bottom: 8px;
    padding-left: 0;
  }

  button#save {
    display: none;
  }

  .full-width span.help-inline {
    position: absolute;
    bottom: 2px;
    left: 30px;
    font-size: 12px;
    color: #f00;
  }

  .field__input:focus~.field__label,
  .field__input:not(:placeholder-shown)~.field__label,
  .field__input:-webkit-autofill~.field__label {
    padding-top: 5px;
  }
  .last-step > div {
      display: flex;
      max-width: 730px;
      align-items: flex-start;
  }

  .last-step > div input {
      margin-right: 20px;
  }
  @media screen and (max-width: 767px){
    .full-width>.half-width {
        width: 100%;
    }
    .inline-bar {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    ul.multi-step>li {
        margin-left: 0;
        font-size: 11px;
        cursor: pointer;
        padding-left: 7px;
        padding-right: 7px;
    }
    .half-width.show-label, 
    .full-width>.half-width textarea, 
    .full-width>.d-half-width textarea,
    .full-width>.half-width input[type="text"], 
    .full-width>.half-width input[type="email"], 
    .full-width>.half-width input[type="number"], 
    .full-width>.half-width textarea, 
    .full-width>.d-half-width textarea{
        padding: 30px 20px;
    }
    .full-width label.field__label {
        padding-left: 20px;
        padding-right: 20px;
    }
    ul.multi-step>li.active {
        padding-left: 7px;
    }
    .full-width span.help-inline {
        left: 20px;
        font-size: 11px;
    }
    .field__input:focus~.field__label, 
    .field__input:not(:placeholder-shown)~.field__label, 
    .field__input:-webkit-autofill~.field__label {
        top: 0;
    }
    .full-width>.half-width input[type="text"], 
    .full-width>.half-width input[type="email"], 
    .full-width>.half-width input[type="number"], 
    .full-width>.half-width textarea, 
    .full-width>.d-half-width textarea { 
        font-size: 13px;
    }
    .inline-bar > h2 {
        width: 100%;
        text-align: left;
        padding-left: 10px;
    }
    ul.multi-step {
        width: 100%;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
  }
  @media only screen and (max-width: 500px){
    .page-width {
        padding-left: 1.5rem!important;
        padding-right: 1.5rem!important;
    }
  }
</style>




{% comment %}  {% endcomment %}
<!-- ------------------------------------------------------------------------------------------------

-->

{% comment %} <div class="page-width">
  <div class="text-center dist_hea">
    <h2>Become an International Distributor</h2>
    <p>Fields marked with an asterisk are required.</p>
  </div> {% form 'contact', class: 'distributor-form', id: 'save-later-form' %} <div id="sf1" class="step-1 actives frm">
    <div class="inline-bar">
      <h2>General Information</h2>
      <ul class="multi-step">
        <li class="active">1. General Information</li>
        <li>2. Analytics</li>
        <li>3. Experience</li>
      </ul>
    </div>
    <div class="full-width">
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="1. First Name *" name="contact[first-name]" id="ContactForm-first-name" required />
        <label class="field__label" for="ContactForm-first-name">1. First Name *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="2. Last Name *" name="contact[last-name]" id="ContactForm-last-name" required />
        <label class="field__label" for="ContactForm-last-name">2. Last Name *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="3. Title *" name="contact[title]" id="ContactForm-title" required />
        <label class="field__label" for="ContactForm-title">3. Title *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="email" placeholder="4. Email Address *" name="contact[email]" id="email" required />
        <label class="field__label" for="email">4. Email *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="5. Company Name *" name="contact[Company Name]" id="ContactForm-Companyname" required />
        <label class="field__label" for="ContactForm-Companyname">5. Company Name *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="6. Requested Territory *" name="contact[Requested Territory]" id="ContactForm-Territory" required />
        <label class="field__label" for="ContactForm-Territory">6. Requested Territory *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="7. Requested Brands *" name="contact[Requested Brands]" id="ContactForm-Brands" required />
        <label class="field__label" for="ContactForm-Brands">7. Requested Brands *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="8. Product categories of interest *" name="contact[Product categories of interest]" id="ContactForm-interest" required />
        <label class="field__label" for="ContactForm-interest">8. Product categories of interest *</label>
      </div>
    </div>
    <div class="step_2 button button--primary">Continue</div>
  </div>
  <div id="sf2" class="step-2 frm">
    <div class="inline-bar">
      <h2>Analytics</h2>
      <ul class="multi-step">
        <li>1. General Information</li>
        <li class="active">2. Analytics</li>
        <li>3. Experience</li>
      </ul>
    </div>
    <div class="full-width">
      <!-- 	<div class="half-width"><label for="security">Security Question</label><select name="security" id="security" tabindex="0"><option value="">Select a question</option><option value="best-friend">What's your best friend's name?</option><option value="pet">What's the name of your first pet?</option><option value="spouse">Where did you meet your spouse?</option></select></div> -->
      <div class="half-width field">
        <textarea class="field__input" name="contact[Specific products of interest and annual quantities of each]" id="Specific_products" placeholder="9. Specific products of interest and annual quantities of each *" required></textarea>
        <label class="field__label" for="Specific_products">9. Specific products of interest and annual quantities of each *</label>
      </div>
      <div class="half-width show-label">
        <label>10. Estimated annual purchase volume *</label>
        <div class="check-icon">
          <div>
            <input id="b1" type="radio" name="contact[Estimated annual purchase volume]" value="$50,000 - $100,000" required>
            <label for="b1">$50,000 - $100,000</label>
          </div>
          <div>
            <input id="b2" type="radio" name="contact[Estimated annual purchase volume]" value="$300,000 - $500,000" required>
            <label for="b2">$300,000 - $500,000</label>
          </div>
          <div>
            <input id="b3" type="radio" name="contact[Estimated annual purchase volume]" value="$500,000 - $1M USD" required>
            <label for="b3">$500,000 - $1M USD</label>
          </div>
          <div>
            <input id="b4" type="radio" name="contact[Estimated annual purchase volume]" value="$1M  - $2M USD" required>
            <label for="b4">$1M - $2M USD</label>
          </div>
          <div>
            <input id="b5" type="radio" name="contact[Estimated annual purchase volume]" value="$2M - $5M + USD" required>
            <label for="b5">$2M - $5M + USD</label>
          </div>
        </div>
      </div>
      <div class="half-width show-label">
        <label>11. Will you order standard US formulated and labeled product or do you require customized/localized product *</label>
        <div class="check-icon">
          <div>
            <input id="c1" type="radio" name="contact[Will you order standard US formulated and labeled product or do you require customized/localized product]" value="US Product" required>
            <label for="c1">US Product</label>
          </div>
          <div>
            <input id="c2" type="radio" name="contact[Will you order standard US formulated and labeled product or do you require customized/localized product]" value="Localized Product" required>
            <label for="c2">Localized Product</label>
          </div>
        </div>
      </div>
      <div class="half-width show-label">
        <label>12. Distribution Channels *</label>
        <div class="check-icon">
          <div>
            <input class="checkboxes" id="d1" type="checkbox" name="contact[Distribution Channels]" value="Distribute to other retailers" required>
            <label for="d1">Distribute to other retailers</label>
          </div>
          <div>
            <input class="checkboxes" id="d2" type="checkbox" name="contact[Distribution Channels]" value="Sell through own retail" required>
            <label for="d2">Sell through own retail</label>
          </div>
          <div>
            <input class="checkboxes" id="d3" type="checkbox" name="contact[Distribution Channels]" value="Ecommerce" required>
            <label for="d3">Ecommerce</label>
          </div>
        </div>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="13. Company’s annual sales volume (calculated in USD) for the last three years *" name="contact[Company’s annual sales volume (calculated in USD) for the last three years]" id="ContactForm-annual" required></textarea>
        <label class="field__label" for="ContactForm-annual">13. Company’s annual sales volume (calculated in USD) for the last three years *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="14. Company’s number of employees *" name="contact[Company’s number of employees]" id="ContactForm-employees" required></textarea>
        <label class="field__label" for="ContactForm-employees">14. Company’s number of employees *</label>
      </div>
    </div>
    <div class="step_3 button button--primary">Continue</div>
  </div>
  <div id="sf3" class="step-3 frm">
    <div class="inline-bar">
      <h2>Experience</h2>
      <ul class="multi-step">
        <li>1. General Information</li>
        <li>2. Analytics</li>
        <li class="active">3. Experience</li>
      </ul>
    </div>
    <div class="full-width">
      <div class="half-width field">
        <textarea class="field__input" placeholder="15. List any other brands or products your Company sells or represents *" name="contact[List any other brands or products your Company sells or represents]" id="ContactForm-list-brands" required></textarea>
        <label class="field__label" for="ContactForm-list-brands">15. List any other brands or products your Company sells or represents *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="16. What does your warehouse management look like? *" name="contact[What does your warehouse management look like]" id="ContactForm-warehouse" required></textarea>
        <label class="field__label" for="ContactForm-warehouse">16. What does your warehouse management look like? *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="17. What does your distribution structure and network look like? *" name="contact[What does your distribution structure and network look like]" id="ContactForm-network" required></textarea>
        <label class="field__label" for="ContactForm-network">17. What does your distribution structure and network look like? *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="18. What experience do you have with importing US goods including supplements and foods? *" name="contact[What experience do you have with importing US goods including supplements and foods]" id="ContactForm-importing" required></textarea>
        <label class="field__label" for="ContactForm-importing">18. What experience do you have with importing US goods including supplements and foods? *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="19. What experience do you have with the nature of the product (organic, etc...)? *" name="contact[What experience do you have with the nature of the product (organic, etc...)]" id="ContactForm-experience" required></textarea>
        <label class="field__label" for="ContactForm-experience">19. What experience do you have with the nature of the product (organic, etc...)? *</label>
      </div>
      <div class="half-width field">
        <textarea class="field__input" placeholder="20. How long have you been in business? *" name="contact[How long have you been in business]" id="ContactForm-business" required></textarea>
        <label class="field__label" for="ContactForm-business">20. How long have you been in business? *</label>
      </div>
      <div class="d-half-width field">
        <textarea class="field__input" placeholder="21. Additional Comments" name="contact[Additional Comments]" id="ContactForm-Comments"></textarea>
        <label class="field__label" for="ContactForm-Comments">21. Additional Comments</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="Completed by: *" name="contact[Completed by]" id="Completed" required />
        <label class="field__label" for="Completed">Completed by: *</label>
      </div>
      <div class="half-width field">
        <input class="field__input" type="text" placeholder="Date *" name="contact[Date]" id="Date" required />
        <label class="field__label" for="Date">Date *</label>
      </div>
      <div class="d-half-width field">
        <div class="last-step">
          <p>
            <b>Disclaimer:</b> Nature’s Craft reserves the right, in its sole discretion, to determine which customers or potential customers may purchase its products, and what selection or combination of products, if any, are available to each approved customer. Nature’s Craft also reserves the right, in its sole discretion, to sell to any party, to refuse to sell to any party, or to cease selling to any party.
          </p>
          <div>
            <input class="checkboxes" id="disclaimer" type="checkbox" name="contact[I certify that I have read and accept the above disclaimer and that the information provided in the sections above is complete and accurate]" value="I certify that I have read and accept the above disclaimer and that the information provided in the sections above is complete and accurate" required>
            <label for="disclaimer">I certify that I have read and accept the above disclaimer and that the information provided in the sections above is complete and accurate.</label>
          </div>
        </div>
      </div>
      <div class="half-width">
        <button type="submit" id="clearButton" class="button button--primary"> Submit </button>
      </div>
    </div>
  </div>
  <button type="submit" id="save">SAVE</button> {%- if form.errors -%} <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small> {%- endif -%} {%- if form.posted_successfully? -%} <script type="text/javascript">
    window.onload = function() { //ensures the page is loaded before functions are executed.
      localStorage.clear()
      console.log("clear records");
      window.location = "/pages/thank-you";
    }
  </script>
  <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'icon-success' %}{{ 'newsletter.success' | t }}</h3> {%- endif -%} {% endform %} <div class="alert"></div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.16.0/jquery.validate.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    var v = $("#save-later-form").validate({
      rules: {
        fname: {
          required: true,
          minlength: 2,
          maxlength: 16
        },
        lname: {
          required: true,
          minlength: 2,
          email: true,
          maxlength: 100,
        },
        prnum: {
          required: true,
          minlength: 6,
          maxlength: 15,
        },
        age: {
          required: true,
          minlength: 6,
        }
      },
      errorElement: "span",
      errorClass: "help-inline",
    });
    $(".frm").hide("fast");
    $("#sf1").show("slow");
    $('.step_2').click(function() {
      if (v.form()) {
        $('html,body').animate({
          scrollTop: $("#save-later-form").offset().top
        }, 'slow');
        $(".frm").hide("fast");
        $("#sf2").show("slow");
      }
    });
    $('.step_3').click(function() {
      if (v.form()) {
        $('html,body').animate({
          scrollTop: $("#save-later-form").offset().top
        }, 'slow');
        $(".frm").hide("fast");
        $("#sf3").show("slow");
      }
    });
    // Binding back button on second step
    $("ul.multi-step > li:nth-child(2)").click(function() {
      if (v.form()) {
        $(".frm").hide("fast");
        $("#sf2").show("slow");
      }
    });
    $("ul.multi-step > li:nth-child(1)").click(function() {
      if (v.form()) {
        $(".frm").hide("fast");
        $("#sf1").show("slow");
      }
    });
    $("ul.multi-step > li:nth-child(3)").click(function() {
      if (v.form()) {
        $(".frm").hide("fast");
        $("#sf3").show("slow");
      }
    });
    $('div#sf3 input[type="text"], div#sf3 textarea').keyup(function() {
      if ($(this).val().length != 0) {
        if ($('.last-step input').is(":checked")) {
          $('#sf3 #clearButton').attr('disabled', false);
        } else {
          $('#sf3 #clearButton').attr('disabled', true);
        }
        //$('#sf3 #clearButton').attr('disabled', false);
      } else {
        $('#sf3 #clearButton').attr('disabled', true);
      }
    });
    $(".last-step input").click(function() {
      if ($(this).is(":checked")) {
        if ($('div#sf3 input[type="text"], div#sf3 textarea').val().length != 0) {
          $('#sf3 #clearButton').attr('disabled', false);
        } else {
          $('#sf3 #clearButton').attr('disabled', true);
        }
      } else {
        $('#sf3 #clearButton').attr('disabled', true);
      }
    });
    var checkboxes = $('.checkboxes');
    checkboxes.change(function() {
      if ($('.checkboxes:checked').length > 0) {
        checkboxes.removeAttr('required');
      } else {
        checkboxes.attr('required', 'required');
      }
    });
    $(".field__input").keyup(function() {
      var filter = $(this).val();
      $("button#save").trigger('click');
    });
  });
  const formId = "save-later-form"; // ID of the form
  const url = location.href; //  href for the page
  const formIdentifier = `${url} ${formId}`; // Identifier used to identify the form
  const saveButton = document.querySelector("#save"); // select save button
  const alertBox = document.querySelector(".alert"); // select alert display div
  let form = document.querySelector(`#${formId}`); // select form
  let formElements = form.elements; // get the elements in the form
  jQuery($ => {
    var arr = JSON.parse(localStorage.getItem('checked')) || [];
    arr.forEach(function(checked, i) {
      $('input[type="checkbox"], input[type="radio"]').eq(i).prop('checked', checked);
    });
    $('input[type="checkbox"], input[type="radio"]').click(() => {
      var arr = $('input[type="checkbox"], input[type="radio"]').map((i, el) => el.checked).get();
      localStorage.setItem("checked", JSON.stringify(arr));
    });
  });
  /**
   * This function gets the values in the form
   * and returns them as an object with the
   * [formIdentifier] as the object key
   * @returns {Object}
   */
  const getFormData = () => {
    let data = {
      [formIdentifier]: {}
    };
    for (const element of formElements) {
      if (element.type == 'radio' || element.type == 'checkbox') {} else if (element.name.length > 0) {
        data[formIdentifier][element.name] = element.value;
      }
    }
    return data;
  };
  saveButton.onclick = event => {
    event.preventDefault();
    data = getFormData();
    localStorage.setItem(formIdentifier, JSON.stringify(data[formIdentifier]));
    const message = "Form draft has been saved!";
    //displayAlert(message);
    console.log(data);
  };
  /**
   * This function displays a message
   * on the page for 1 second
   *
   * @param {String} message
   */
  const displayAlert = message => {
    alertBox.innerText = message;
    alertBox.style.display = "block";
    setTimeout(function() {
      alertBox.style.display = "none";
    }, 1000);
  };
  /**
   * This function populates the form
   * with data from localStorage
   *
   */
  const populateForm = () => {
    if (localStorage.key(formIdentifier)) {
      const savedData = JSON.parse(localStorage.getItem(formIdentifier)); // get and parse the saved data from localStorage
      for (const element of formElements) {
        if (element.type == 'radio' || element.type == 'checkbox') {
          setTimeout(function() {
            var checkboxes = $('.checkboxes');
            if ($('.checkboxes:checked').length > 0) {
              checkboxes.removeAttr('required');
            } else {
              checkboxes.attr('required', 'required');
            }
          }, 1000);
          if (savedData[element.name] == element.value) {
            console.log(savedData[element.name]);
          }
        } else if (element.name in savedData) {
          element.value = savedData[element.name];
        }
      }
      const message = "Form has been refilled with saved data!";
      //displayAlert(message);
    }
  };
  document.onload = populateForm(); // populate the form when the document is loaded
</script>
<style>
  /* form#save-later-form  > .step-2, 
form#save-later-form  > .step-3 {
    display: none;
} */
  .alert {
    width: 80vw;
    margin: 2rem auto;
    background-color: #d4edda;
    color: #155724;
    padding: 0.75rem 1.25rem;
    border-radius: 0.25rem;
    display: none;
  }

  .full-width {
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .full-width>.half-width {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }

  .full-width>.d-half-width {
    width: 100%;
    margin-bottom: 20px;
  }

  /*   .full-width>.half-width label,
  .full-width>.d-half-width label {
    display: none;
  } */
  .full-width>.half-width input[type="text"],
  .full-width>.half-width input[type="email"],
  .full-width>.half-width input[type="number"],
  .full-width>.half-width textarea,
  .full-width>.d-half-width textarea {
    background: #EDF6ED;
    border-radius: 10px;
    width: 100%;
    height: 60px;
    font-family: "BWMODELICA BOLD";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 60px;
    letter-spacing: 0.25px;
    color: #000000;
    outline: none;
    color: #000;
    border: none;
    padding: 0 30px;
    box-shadow: none;
  }

  .half-width.show-label {
    background: #EDF6ED;
    border-radius: 10px;
    padding: 30px;
    position: relative;
  }

  .full-width>.half-width textarea,
  .full-width>.d-half-width textarea {
    height: 100%;
    line-height: normal;
    padding: 30px;
    width: 100% !important;
    min-height: 130px;
  }

  .full-width>.half-width input::placeholder,
  .full-width>.half-width textarea::placeholder,
  .full-width>.d-half-width textarea::placeholder {
    color: transparent;
    opacity: 0;
    line-height: normal;
  }

  .half-width.show-label>label {
    display: block;
    font-family: "BWMODELICA BOLD";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.25px;
    color: #000000;
  }

  .half-width.show-label .check-icon label {
    display: block;
    font-family: "BWMODELICA-MEDIUM";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    letter-spacing: 0.25px;
    color: #000000;
  }

  /*   form#save-later-form > div {
      animation: 2s ease 0s 1 normal forwards running fade-out;
      opacity: 0;
      height: 0;
      overflow: hidden;
      visibility: hidden;
  }
  form#save-later-form > div.actives {
    opacity: 1;
    height: auto;
    overflow: auto;
    visibility: visible;
   	animation: 3s ease 0s 1 normal forwards running fade-in;
  } */
  @keyframes fade-out {
    from {
      opacity: 100%;
    }

    to {
      opacity: 0%;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0%;
    }

    to {
      opacity: 100%;
    }
  }

  .check-icon>div {
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
  }

  .check-icon>div:last-child {
    margin-bottom: 0;
  }

  .check-icon {
    margin-top: 20px;
  }

  body .newsletter-form__message--success {
    position: static !important;
  }

  form#save-later-form {
    position: relative;
  }

  .full-width label.field__label {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 9px;
    font-family: "BWMODELICA BOLD";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
    text-transform: none;
    letter-spacing: 0.25px;
  }

  .text-center.dist_hea>p,
  .last-step p,
  .last-step label {
    margin-top: 0;
    font-family: "BWMODELICA-MEDIUM";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
    text-transform: none;
    letter-spacing: 0.25px;
  }

  .last-step p b {
    font-family: "BWMODELICA BOLD";
    font-style: normal;
    font-weight: normal;
  }

  .text-center.dist_hea>h2 {
    margin-bottom: 8px;
  }

  .inline-bar {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid #000;
    margin-bottom: 4rem;
  }

  ul.multi-step {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  ul.multi-step>li {
    list-style: none;
    margin-left: 30px;
    padding-top: 9px;
    font-family: "BWMODELICA BOLD";
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: normal;
    text-transform: none;
    letter-spacing: 0.25px;
    opacity: .4;
    cursor: pointer;
  }

  ul.multi-step>li.active {
    opacity: 1;
    border-bottom: 3px solid #4CAF50;
    padding-bottom: 8px;
    padding-left: 0;
  }

  button#save {
    display: none;
  }

  .full-width span.help-inline {
    position: absolute;
    bottom: 2px;
    left: 30px;
    font-size: 12px;
    color: #f00;
  }

  .field__input:focus~.field__label,
  .field__input:not(:placeholder-shown)~.field__label,
  .field__input:-webkit-autofill~.field__label {
    padding-top: 5px;
  }
  .last-step > div {
      display: flex;
      max-width: 730px;
      align-items: flex-start;
  }

  .last-step > div input {
      margin-right: 20px;
  }
  @media screen and (max-width: 767px){
    .full-width>.half-width {
        width: 100%;
    }
    .inline-bar {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    ul.multi-step>li {
        margin-left: 0;
        font-size: 11px;
        cursor: pointer;
        padding-left: 7px;
        padding-right: 7px;
    }
    .half-width.show-label, 
    .full-width>.half-width textarea, 
    .full-width>.d-half-width textarea,
    .full-width>.half-width input[type="text"], 
    .full-width>.half-width input[type="email"], 
    .full-width>.half-width input[type="number"], 
    .full-width>.half-width textarea, 
    .full-width>.d-half-width textarea{
        padding: 30px 20px;
    }
    .full-width label.field__label {
        padding-left: 20px;
        padding-right: 20px;
    }
    ul.multi-step>li.active {
        padding-left: 7px;
    }
    .full-width span.help-inline {
        left: 20px;
        font-size: 11px;
    }
    .field__input:focus~.field__label, 
    .field__input:not(:placeholder-shown)~.field__label, 
    .field__input:-webkit-autofill~.field__label {
        top: 0;
    }
    .full-width>.half-width input[type="text"], 
    .full-width>.half-width input[type="email"], 
    .full-width>.half-width input[type="number"], 
    .full-width>.half-width textarea, 
    .full-width>.d-half-width textarea { 
        font-size: 13px;
    }
    .inline-bar > h2 {
        width: 100%;
        text-align: left;
        padding-left: 10px;
    }
    ul.multi-step {
        width: 100%;
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
  }
  @media only screen and (max-width: 500px){
    .page-width {
        padding-left: 1.5rem!important;
        padding-right: 1.5rem!important;
    }
  }
</style> {% endcomment %}