<!--AZEXO_sections/main-page-contact.liquid_Section--><link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--full">
  {% if section.settings.check %}
  <h1 class="main-page-title page-title text-center">
    {{ page.title | escape }}
  </h1> {% endif %}
  
  <div class="rte">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "spaced-section page-top",
  "settings": [
    {
      "type": "checkbox",
      "id": "check",
 	  "default": true,
      "label": "Show Title"
    }
  ]
}
{% endschema %}
<style>
body .banner__box {
    background: 0;
}
  .overlay-banner .banner__content {
    padding-bottom: 30px;
}
</style><!--End_AZEXO_sections/main-page-contact.liquid_Section-->